<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MoneyManeger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <MoneyManeger.Properties.Settings>
            <setting name="months_abr_pt_br" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Jan</string>
                        <string>Fev</string>
                        <string>Mar</string>
                        <string>Abr</string>
                        <string>Mai</string>
                        <string>Jun</string>
                        <string>Jul</string>
                        <string>Ago</string>
                        <string>Set</string>
                        <string>Out</string>
                        <string>Nov</string>
                        <string>Dez</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MoneyManeger.Properties.Settings>
    </applicationSettings>
</configuration>